<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rodman</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS --> 
    <link href="/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Rodman</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li> <a href="/">Home</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="welcome"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->


    <div class="container main-part">

        <div "width:80%">
            <div class="panel panel-default">
              <div class="panel-heading">Articles</div>
              <div class="panel-body">

                <div id="articles">

                </div>
                
              </div>
            </div>
        </div>

    </div>
    <!-- /.container -->





    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){

        $.ajax({
            url: '/article/all',
            method: 'get',
            dataType: 'json',
            success: function(data){

                for (x in data){

                    var str = "";
                    str += "<div class='article-item' id=" + data[x].article_id + ">";
                    str += "<div class='title'>"+ data[x].title + "</div>";
                    str += "<div class='info'>" + 
                    "<span class='glyphicon glyphicon-time' aria-hidden='true'></span> &nbsp;"+  data[x].post_time +  "&nbsp;&nbsp;&nbsp;" +
                    "<span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span>&nbsp;" + data[x].read_count + "&nbsp;&nbsp;&nbsp;" +
                    "<span class='glyphicon glyphicon-comment' aria-hidden='true'></span>&nbsp;" + data[x].comment_count + "&nbsp;&nbsp;&nbsp;" +
                    "</div>";
                    str += "<div class='content'>" + data[x].content + "</div>";
                    str += "</div>";
                    $("#articles").append(str);
                }
                console.log(data);
            },
        });


        $("div#articles").delegate(".article-item","click", function(){
            var id = $(this).attr("id");
            console.log("click");
            location.href="/article?id="+id;
        });

    });

    </script>



    <style type="text/css">
    .main-part{
        border: 1px solid #eee;
        background: white;
        position: relative;
        top:-400px;
        min-height: 800px;
        border-radius: 5px;
        box-shadow: 0px 5px 5px;
        padding: 20px 20px;
    }

    .article-item{
        border-bottom: 1px solid #ccc;
        padding: 10px 10px;
        cursor: pointer;
    }

    .title{
        font-size: 20px;
        margin-bottom: 5px;    
    }

    .info{
        font-size: 14px;
        font-family: "Times New Roman",Georgia,Serif;
        color: #666;
        font-weight: 100;
        margin-bottom: 10px;

    }

    .content{
        font-size: 14px;
        font-family: "Times New Roman",Georgia,Serif;
        color: #333;
        font-weight: 200;
    }

    </style>


</body>

</html>
